/* BASIC STYLES HERE */

body {
  font-family: 'Cinzel', serif;
}

.hide {
  opacity: 0;
  transition: all .3s ease;
}

.reveal:hover+.hide {
  display: block;
  opacity: 1 !important;
}

.cover {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}